spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/weatherdb
    username: user
    password: pass
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
  application:
    name: weather-sdk

server:
  port: 8080

openweathermap:
  api:
    url: https://api.openweathermap.org/data/2.5/weather


logging:
  level:
    com.weather.sdk: DEBUG